<footer>
    <div class="footer-content">
        <div class="footer-section">
            <h3>Sobre Nós</h3>
            <p>A Borsoi Gás é uma empresa de destaque no setor de distribuição de gás, localizada na cidade de Imperatriz, Maranhão. Fundada e liderada pelo empreendedor Gian Carlo Borsoi, a empresa se destaca por seu compromisso com a qualidade e excelência no atendimento aos clientes.</p>
        </div>
        <div class="footer-section">
            <h3>Links Rápidos</h3>
            <ul>
                <li><a href="{{ url_for('home') }}">Home</a></li>
            </ul>
        </div>
        <div class="footer-section">
            <h3>Contato</h3>
            <p>Email: auxiliarsupervisaoborsoi@gmail.com</p>
            <p>Telefone: (99) 99155-1213</p>
            <div class="social-icons">
                <a target="_blank" href="https://www.facebook.com/borsoidistribuidoraoficial"><img src="{{ url_for('static', filename='img/facebook.png') }}" alt="Facebook"></a>
                <a target="_blank" href="https://api.whatsapp.com/send?phone=5599991551213&text=Ol%C3%A1,%20vim%20pelo%20link%20do%20site,%20quero%20trocar%20meu%20g%C3%A1s%20e%20garantir%20meu%20brinde%20especial."><img src="{{ url_for('static', filename='img/whatsapp.png') }}" alt="WhatsApp"></a>
                <a target="_blank" href="https://www.instagram.com/grupoborsoigas/?namertag"><img src="{{ url_for('static', filename='img/instagram.png') }}" alt="Instagram"></a>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <p>&copy; 2023 Seu Site. Todos os direitos reservados.</p>
    </div>
</footer>