<header>
    <div class="logo">
    </div>
    <nav class="menu-principal">
        <ul>
            <li class="home active"><a href="{{url_for('home')}}"><span class="icon"></span>Home</a></li>
            <li class="contato active"><a href="#" id="link-contato"><span class="icon"></span>Contato</a></li>
            
        </ul>
    </nav>
    <nav class="menu-mobile">
        <ul>
            <li><a href="{{url_for('home')}}">Home</a></li>
            <li class="contato"><a href="#">Contato</a></li>
            
        </ul>
    </nav>
    
    <div class="menu-mobile-icon-abrir"></div>
    <div class="menu-mobile-icon-fechar"></div>
</header>
